* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #33475b;
  font-size: 16px;
}

/* inizio proprietà comuni */
.container {
  width: 70%;
  margin: auto;
}

.bg-skyblue {
  background-color: #f4f9fd;
}

.bg-white {
  background-color: #fff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float {
  float:left;
}

.btn {
  padding: 8px;
  border-radius: 5px;
}

.btn.orange {
  color: white;
  background-color: #fe775a;
  /* ho aggiunto il bordo in modo che non sia più piccolo del pulsante a fianco */
  border: 1px solid #fe775a;
}

.btn.border-orange {
  color: #fe775a;
  border: 1px solid #fe775a;
}

.btn.border-orange:hover {
  color: white;
  background-color: #fe775a;
}

.btn.orange:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #fe775a;
}

h1  {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: #33475b;
}

ul {
  list-style-type: none;
  height: 70px;
  line-height: 70px;
}

li {
  display: inline-block;
}


/* /proprietà comuni */


/* Inizio header */
/* Inizio header-top */
.header-top {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #33475b;
}

/* Inizio header-top left */
.header-top .meta-info-left {
  width: 25%;
  height: 70px;
}

.header-top .meta-info-left .fa-globe-europe {
  padding-right: 5px;
}

.header-top .meta-info-left .fa-angle-down {
  padding-left: 5px;
}

.header-top .meta-info-left ul li:first-child {
  padding-right: 15px;
}

.header-top .meta-info-left ul li:last-child {
  padding-left: 15px;
}
/* /header-top left */


/* Inizio header top right */
.header-top .meta-info-right {
  width: 75%;
  height: 70px;
  text-align: right;
}

.header-top .meta-info-right ul li {
  padding-left: 15px;
}

.header-top .meta-info-right .fa-search {
  color: #00a4bd;
}
/* /header top right */
/* /header-top */


/* Inizio header-nav */
.header-nav {
  margin-top: 70px;
}

.header-nav .logo {
  width: 10%;
  height: 70px;
  position: relative;
}

.header-nav .logo img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-nav nav {
  width: 90%;
  height: 70px;
  text-align: right;
}

.header-nav nav ul li {
  padding-left: 15px;
}

.header-nav nav .fa-angle-down {
  padding-left: 10px;
}
/* /header-nav */

/* Inizio header-bottom */
.header-bottom {
  height: 680px;
  box-shadow: inset 0 10px 8px rgba(0, 0, 0, 0.1);
  background-image: url('../img/jumbotron.png');
  /* Non inserire la proprietà background-size altrimenti l'immagine si ridimensiona in base alla grandezza del browser e questo fa sfasare la barra posizionata in fondo all'immagine. */
  /* background-size : 85%; */
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #fff4ef;
  position: relative;
}

.restyle-bg {
  width: 100%;
  height: 85px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #afebe4;
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
}

.header-bottom .jumbotron {
  width: 50%;
  padding-top: 60px;
}

.header-bottom .jumbotron p {
  padding: 30px 0 40px 0;
}

.header-bottom .jumbotron a {
  padding: 15px 25px;
}

.header-bottom .jumbotron span {
  display: block;
  margin-top: 40px;
  font-size: 0.75em;
}
/* /header-bottom */
/* /header */


/* Inizio main */
main {
  /* proprietà da rimuovere alla fine */
  height: 2000px;
  background-color: darkgrey;
  /* /proprietà da rimuovere */
}

main #stripe1 {
  height: 1000px;
  background-color: #F4F9FD;
}

/* Inizio fascia 1 top */
main #stripe1 .stripe1-top {
  width: 75%;
  margin: auto;
  text-align: center;
  padding: 40px 0;
}

main #stripe1 .stripe1-top img {
  width: 40%;
}

main #stripe1 .stripe1-top h2 {
  padding: 30px 0;
}
/* /fascia 1 top */

/* Inizio fascia 1 center */

main #stripe1 .stripe1-center {
  width: 100%;
  /* height: 300px; */
  padding: 60px 0;
  background-color: white;
  border: 1px solid #e6ecf1;
  border-radius: 5px;
  box-shadow: 0 0 5px #ced8df;

}

main #stripe1 .stripe1-center-left {
  width: 30%;
  text-align: center;
}

main #stripe1 .stripe1-center-left img {
  width: 45%;
  margin-bottom: 30px;
}

main #stripe1 .stripe1-center-left a {
  padding: 15px 25px;
}

main #stripe1 .stripe1-center-right {
  width: 70%;
  padding-left: 30px;
  padding-right: 60px;

}

main #stripe1 .stripe1-center-right p {
  padding: 30px 0 30px 0;
}

main #stripe1 .stripe1-center-right span {
  text-transform: uppercase;
  font-weight: bold;
}

/* Per la linea orizzontale mi sono arrangiato così ma non mi piace molto: poi con calma cerco un metodo migliore */
main #stripe1 .stripe1-center-right hr {
  display: inline-block;
  margin-left: 20px;
  width: 350px;
  position: relative;
  bottom: 5px;
  border: 1px solid #33475b;
  background-color: #33475b;
}

main #stripe1 .stripe1-center-right ul {
  margin-top: 10px;
}

main #stripe1 .stripe1-center-right li {
  padding-right: 15px;
}

main #stripe1 .stripe1-center-right a:hover {
  text-decoration: underline;
}

main #stripe1 .stripe1-center-right .fa-check-circle {
  font-size: 0.9em;
  color: #fe775a;
  padding-right: 10px;
}

main #stripe2 {
  height: 100px;
  background-color: yellow;
}

main #stripe3 {
  height: 100px;
  background-color: orange;
}

footer {
  height: 300px;
  background-color: grey;
}
